/* hgroup */

.hgroup {
	max-width: 860px;
	margin: 50px auto 60px;
	padding: 0 0 20px;
	border-bottom: 1px solid #ebebeb;
}
.hgroup .category {
	display: inline-block;
	margin-bottom: 16px;
	padding-top: 5px;
	border-bottom: 1px solid #a3a3a3;
	font-family: 'Nanum Myeongjo', serif;
	font-size: 0.875em;
	color: #808080;
}
.hgroup h1 {
  margin: 0;
	display: block;
	margin-bottom: 9px;
	font-weight: 700;
	font-size: 1.6875em;
	line-height: 1.4444em;
}
.hgroup .post-meta {
	display: block;
	font-size: 0.8125em;
	color: #808080;
}
.hgroup .post-meta a {
	text-decoration: none;
	color: #999;
}
.hgroup .post-meta a:hover {
	text-decoration: underline;
}
.hgroup .post-meta span:before {
	content: "";
	display: inline-block;
	width: 1px;
	height: 10px;
	margin: 0 7px 0 10px;
	background-color: #ebebeb;
	vertical-align: baseline;
}
.hgroup .post-meta span:first-child:before {
	content: none;
}

/* Comment */

.comments {
	max-width: 860px;
	margin: 0 auto 60px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e6e6e6;
}
.comments h2 {
	font-weight: 400;
	font-size: 1em;
	color: #000;
}
.comments .comment-list {
	font-size:16px;
	margin-bottom: 6px;
	overflow:hidden;
}

.comments .comment-list ul {
	padding-left: 0px;
}

.comments .comment-list ul li {
  list-style: none;
	padding: 30px 0 25px;
	border-top: 1px solid #e6e6e6;
	position: relative;
	min-height: 48px;
}
.comments .comment-list ul li:first-child {
	border: none;
}
.comments .comment-list ul li ul li {
	padding: 26px 0 0 60px;
	border-top: 0;
	border-bottom: 0;
}
.comments .comment-list ul li .author-meta {
	position: absolute;
	overflow: hidden;
	top:30px; height:48px;
	left:0; right:0;
	padding: 4px 0 0 60px;
}
.comments .comment-list ul li ul li .author-meta {
	top:26px;
	left:60px;
}
.comments .comment-list ul li .author-meta .avatar {
	position: absolute;
	left:0; top:0;
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.comments .comment-list ul li .author-meta span {
	display:inline-block;
}

.comments .comment-list ul li .author-meta a {
	text-decoration:none;
	color: #000;
}
.comments .comment-list ul li .author-meta .nickname {
	float:left;
	font-size: 0.875em;
	line-height: 20px;
}
.comments .comment-list ul li .author-meta .nickname .tistoryProfileLayerTrigger {
	margin-bottom: 3px;
	margin-right: 0;
	vertical-align: bottom;
}

.comments .comment-list ul li .author-meta .date {
	float:left;
	margin-left: 10px;
	font-size: 0.75em;
	color: #999;
	line-height:20px;
}
.comments .comment-list ul li .author-meta .date:before,
.comments .comment-list ul li .author-meta .date a:before {
	content: "";
	display: inline-block;
	width: 1px;
	height: 9px;
	margin-right: 10px;
	background-color: #b2b2b2;
}
.comments .comment-list ul li .author-meta .date a {
	margin-left: 10px;
}
.comments .comment-list ul li .control {
	position: absolute;
	top: 33px;
	right:0;
}
.comments .comment-list ul li ul li .control {
	top: 29px;
}
.comments .comment-list ul li .control a {
	margin:0 2px;
	text-decoration: none;
	font-size: 12px;
	color: #999;
}
.comments .comment-list ul li p {
	position:relative;
	margin: 29px 0 0 60px;
	font-size: 0.875em;
	line-height: 1.5714;
	color: #666;
}
.comments .comment-form .field {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin-bottom: 8px;
}
.comments .comment-form input[type=text],
.comments .comment-form input[type=password],
.comments .comment-form textarea {
	border: 1px solid #e6e6e6;
	font-size: 0.9375em;
	line-height: 1.25;
	color: #666;
	background-color: transparent;
}
.comments .comment-form input[type=text],
.comments .comment-form input[type=password] {
	width: 140px;
	height: 52px;
	margin-right: 6px;
	padding: 10px;
	box-sizing: border-box;
}
.comments .comment-form input::-webkit-input-placeholder,
.comments .comment-form textarea::-webkit-input-placeholder {color: #d6d6d6;}
.comments .comment-form textarea {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	resize: none;
	box-sizing: border-box;
}
.comments .comment-form .field .secret {
	display: inline-block;
	margin-left: 15px;
	vertical-align: middle;
}
.comments .comment-form .field .secret input {
	display: none;
}
.comments .comment-form .field .secret label {
	font-size: 0.8125em;
	line-height: 52px;
	color: #666;
	outline: none;
	cursor: pointer;
}
.comments .comment-form .field .secret label:before {
	content: "";
	display: inline-block;
	width: 19px;
	height: 18px;
	margin-right: 9px;
	border: 1px solid #e1e1e1;
	vertical-align: middle;
	background-color: #fff;
}
.comments .comment-form .field .secret input[type=checkbox]:checked+label:before {
	background-image: url(./images/ico_package.png);
	background-repeat: no-repeat;
	background-position: -150px -100px;
}
.comments .comment-form .field .submit {
	float: right;
}



/* other */


.another_category {
	margin: 60px auto 80px;
	padding: 0 !important;
	border: 0 !important;
}
.another_category h4 {
	margin-bottom: 28px;
	font-weight: 400;
	font-size: 1em !important;
}
.another_category h4 em {
	border-bottom: 1px solid #000;
	font-style: normal;
}
.another_category table {
	width: 100%;
	border-collapse: collapse;
	border: 0 !important;
	font-size: 0.9375em;
	color: #666;
}
.another_category table th {
	padding: 8px 0 4px;
	border: 0 !important;
	text-align: left;
	font-weight: 400;
}
.another_category table th a {
	text-decoration: none;
	color: #666;
}
.another_category td {
	width: 60px;
	padding: 8px 0 4px;
	border-left: 0 !important;
	border-top: 0 !important;
	font-size: 0.8125em;
	line-height: 1;
	color: #b2b2b2;
}

.tags {
	position: relative;
	overflow: hidden;
	max-width: 860px;
	margin: 53px auto;
	padding: 27px 0 28px 47px;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	color: #999;
	box-sizing: border-box;
}
.tags h2 {
	float: left;
	width: 47px;
	margin-left: -47px;
	font-weight: 400;
	font-size: 1em;
	color: #000;
}
.tags .items a {
	display:inline-block;
	margin-left: 15px;
	text-decoration:none;
	font-size: 0.8125em;
	line-height: 1.5384;
	color: #999;
}
.tags .items a:hover {
	color: #7a583a;
}
.tags .items a:before {
	content: "#";
}

.related-articles {
	overflow: hidden;
	width: 100%;
	margin: 57px 0 69px;
}
.related-articles h2 {
	margin-bottom: 28px;
	font-weight: 400;
	font-size: 1em;
}
.related-articles h2 em {
	border-bottom: 1px solid #000;
	font-style: normal;
}
.related-articles ul {
}
.related-articles ul li {
	float: left;
	width: 24.0625%;
	padding-left: 1.25%;
}
.related-articles ul li:first-child {
	padding-left: 0;
}
.related-articles ul li a {
	display: block;
	text-decoration: none;
	color: #080808;
}
.related-articles ul li a:hover .title {
	text-decoration: underline;
	color: #4e2e28;
}
.related-articles ul li .thum {
	display: block;
	position: relative;
	overflow: hidden;
	height: 0;
	margin-bottom: 12px;
	padding-bottom: 75.757575757575758%;
	background-color: #ebebeb;
}
.related-articles ul li .thum:before {
	content: "NO IMAGE";
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 18px;
	margin: -9px 0 0 0;
	text-align: center;
	font-family: 'Arial';
	font-weight: bold;
	font-size: 0.875em;
	color: #cbcbcb;
}
.related-articles ul li .thum img {

	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
}
.related-articles ul li .category {
	display: inline-block;
	margin-bottom: 16px;
	border-bottom: 1px solid #a3a3a3;
	font-family: 'Nanum Myeongjo', serif;
	font-size: 0.875em;
	color: #808080;
}
.related-articles ul li .title {
	display: block;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	overflow:hidden;
	max-height: 2.75em;
	margin-bottom: 9px;
	font-weight: 700;
	line-height: 1.375;
}
.related-articles ul li .date {
	display: block;
	font-size: 0.8125em;
	color: #999;
}

/* mobole */

/* Media Screen - Mobie */
@media screen and (max-width:767px) {
	.another-category table th {
		display: block;
		padding: 0;
	}
	.another-category table td {
		display: block;
		margin-bottom: 19px;
	}
	.comments .comment-list {
		margin-bottom:10px;
		margin-top:10px;
		border-top: 1px solid #e6e6e6;
	}
	.comments .comment-list ul li {
		padding-bottom:0;
	}
	.comments .comment-list ul li ul {
		border-top: 1px solid #e6e6e6;
	}
	.comments .comment-list ul li ul li {
		padding:20px 0 0 48px;
	}
	.comments .comment-list ul li ul li:before {
		content: "";
		position: absolute;
		top: 34px;
		left:18px;
		width: 12px;
		height: 12px;
		background: url(./images/ico_package.png) no-repeat 0 -150px;
	}
	.comments .comment-list ul li .author-meta,
	.comments .comment-list ul li ul li .author-meta {
		position:relative;
		top:0;
		left:0;
	}
	.comments .comment-list ul li .author-meta img {
		position: absolute;
		top: 0;
		left: 0;
	}
	.comments .comment-list ul li .author-meta .nickname,
	.comments .comment-list ul li .author-meta .date {
		display: block;
		float: none;
		line-height: 1.5;
	}

	.comments .comment-list ul li .author-meta .nickname .tistoryProfileLayerTrigger {
		margin-bottom:4px;
	}

	.comments .comment-list ul li .author-meta .date {
		margin-left: 0;
		margin-top: 2px;
	}
	.comments .comment-list ul li .author-meta .date::before {
		display: none;
	}

	.comments .comment-list ul li p {
		margin: 14px 0 0;
	}

	.comments .comment-list ul li .control {
		position: relative;
		top: auto;
		right: auto;
		display: block;
		margin: 9px 0 18px -2px;
	}
	.comments .comment-list ul li ul li .control {
		top: auto;
	}
	.comments .comment-form input[type=text],
	.comments .comment-form input[type=password] {
		width: 100px;
	}
	.comments .comment-form .field .secret {
		margin-left: 0;
	}
	.comments .comment-form .field .secret label:before {
		margin-right: 5px;
	}
	.comments .comment-form .field .submit {
		display: block;
		float: none;
		margin: 60px auto 0;
	}
}

/* btn */
.comment-form .btn {
  display: inline-block;
  width: 158px;
  height: 50px;
  border: 1px solid #dcdcdc;
  font-size: 0.875em;
  line-height: 50px;
  background: transparent;
}